/*BODY*/
html, body{
    background-color:#f2f2f2;
}
/*HEADER*/

#header {
    background: #2d3e50;
}

#brand p,
#user-profile  {
    font-family: fantasy;
    color: white;
    font-size: 25px;
    display: table-cell;
    vertical-align: middle;
}

#brand p {
    font-size: 70px;
}

#logo {
    width: 130px;
    height: 130px;
    filter: invert(100%);
}


#user-profile {
    display: flex;
    color: white;
    
}
#user-profile:hover{
    color:#990073;
}

/*NAVBAR CONTENT BLOCK CONTAINER*/
#main-container{
    background-color:#e3e3e3;
}
#data-container {
    margin-top: 10px;
      
}

/*NAVIGABLE BAR*/

#nav {
  
}

#nav span {
    font-family: monospace;
    font-size: 20px;
}

/*CONTENT*/

#slogan span {
    font-size: 70px;
    font-family: sans-serif;
}

/*FOOTER*/

#footer {
    background:#2d3e50;
}

#footer span {
    color: white;
    font-size: 20px;
    font-family: fantasy;
}

#footer i {
    color: white;
}
