/*HEADER*/

#header {
    background: #2d3e50;
}

#brand p,
#user-profile p {
    font-family: fantasy;
    color: white;
    font-size: 25px;
    display: table-cell;
    vertical-align: middle;
}

#brand p {
    font-size: 70px;
}

#logo {
    width: 100px;
    height: 100px;
    filter: invert(100%);
}


#user-profile {
    display: flex;
    color: darkcyan;
}

/*NAVBAR CONTENT BLOCK CONTAINER*/

#data-container {
    margin-top: 10px;
    min-height: 70%;
}

/*NAVIGABLE BAR*/

#nav {
    /*background-color: white;*/
}

#nav span {
    font-family: monospace;
    font-size: 20px;
}

#treeContainer{
    height: 33%;
    /*min-height: 90%;*/
}

/*CONTENT*/

#slogan span {
    font-size: 70px;
    font-family: sans-serif;
}

/*FOOTER*/

#footer {
    background: #2d3e50;
    position: relative;
    top: 150px;
}

#footer span {
    color: white;
    font-size: 20px;
    font-family: fantasy;
}

#footer i {
    color: white;
}

/*tree style*/

.tree a {
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 100%;
}
.trigger {
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 100%;
}

ul.tree {
    padding-left: 0.8rem;
}

.tree-parent {
   /* margin: none;*/
    display: none;
}

.tree-parent.open {
    padding-left: 0.5rem;
    display: block;
}

.tree-item {
    position: relative;
    margin-left: 0.5rem;
    line-height: 2rem;
}
.tree-item:last-child {
    border: none;
}
.tree-item:before {
    content: '';
    display: block;
    border-top: 1px solid #bdc3c7;
    border-left: 1px solid #bdc3c7;
    height: 100%;
    width: 1rem;
    position: absolute;
    bottom: -1.1rem;
    left: -0.9rem;
    left: -1.3rem;
    z-index: -1;
}
.tree-item:last-child:before {
    border-left: none;
}
.tree-item:first-child:after {
    content: '';
    display: block;
    border-left: 1px solid #bdc3c7;
    height: 100%;
    width: 1rem;
    position: absolute;
    bottom: 0.9rem;
    left: -0.9rem;
    left: -1.3rem;
    z-index: -1;
}

