html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tmw-sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 20px;
    height: 100vh;
}

.tmw-sidebar {
    background: #fcfcfc;
}

#tmw-filters {
    margin-bottom: 3px;
}

#tmw-apply-btn-area {
    padding-right: 3px;
    padding-left: 15px;
}

#tmw-reset-btn-area {
    padding-right: 15px;
    padding-left: 3px;
}

#tmw-apply-btn, #tmw-reset-btn{
    padding: 5px 12px;
}

#tree-and-addbtn {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100vh;
}



#tmw-create-task-div {
    width: 45px;
    z-index: 998;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
}

.tmw-treeview {
    margin-top: -38px;
    flex-grow: 1;
    overflow-y: scroll;
}



.tmw-main {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 20px;
    height: 100vh;
}


#calendar-and-table-area {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100vh;
}

.tmw-main-calendar {
    margin-top: -29px;
    /* flex-grow: 1; */
    /* height: 100vh; */
    /* overflow-y: scroll; */
}

.tmw-main-calendar {
    height: 51%;
}

.tmw-main-planning-table {
    height: 48%;
}

.tmw-main-table {
    height: 50%;
}


.tmw-main-calendar > div, .tmw-task-calendar, .tmw-main-table > div, .tmw-task-table, .tmw-main-planning-table > div, .tmw-task-planning-table {
    height: 100%;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: -6px;
}



.tmw-main-planning-table {
    /* flex-grow: 1; */
    margin-top: -5px;
    /* height: 100vh; */
    /* overflow-y: scroll; */
    user-select: none;
}

#tmw-task-planning-table {
    border-collapse: collapse !important;
}

.tmw-task-planning-table tr.tmw-draggable {
    cursor: pointer;
}

.tmw-task-planning-table tr.tmw-disabled {
    cursor: not-allowed;
    background-color: #f0f0f0;
    color: #999999;
}



.tmw-main-table {
    /* flex-grow: 1; */
    margin-top: 10px;
    /* height: 100vh; */
    /* overflow-y: scroll; */
    user-select: none;
}

#tmw-task-table {
    border-collapse: collapse !important;
}

.tmw-task-table tr.tmw-draggable {
    cursor: pointer;
}

.tmw-task-table tr.tmw-disabled {
    cursor: not-allowed;
    background-color: #f0f0f0;
    color: #999999;
}






ul.jstree-container-ul a.jstree-anchor {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

textarea {
    resize: vertical;
}

#logout {
    display: none;
}

#main, #login, #registration {
    display: none;
}

.container {
    margin-top: 200px;
}

#registration.input {
    border-radius: 10px;
}

#registration.legend {
    font-family: fantasy;
    font-size: 50px;
}

#register-box {
    margin-top: 50px;
}

.error {
    color: #CC2222;
}

#login.p {
    font-family: fantasy;
    font-size: 50px;
}

#leftPanel {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 35%;
    max-height: 140px;
    position: relative;
}

#leftPanel > div {
    padding: 2px 0px;
}

.tmw-main {
    margin: 0;
}

.tmw-main-header {
    padding-bottom: 15px;
}

.tmw-main-calendar {
    padding-bottom: 0px;
}

body > tr {
    border-collapse: collapse;
    background: white;
}

body > tr > td {
    padding: 8px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

/*
 * jsTree
 */

#tmw-treeview > ul > li > a  {
    font-weight: bold;
}

#tmw-treeview > ul > li > ul > li > a  {
    font-weight: bold;
}

li.jstree-closed > a .jstree-icon {
    display: none;
    /*background: url("imageClosed.gif") 0px 0px no-repeat !important;*/
    /*background-color: red;*/
}

li.jstree-open > a .jstree-icon {
    display: none;
    /*background: url("imageOpen.gif") 0px 0px no-repeat !important;*/
    /*background-color: green;*/
}

li.jstree-leaf > a .jstree-icon {
    display: none;
    /*background: url("imageClosed.gif") 0px 0px no-repeat !important;*/
    /*background-color: blue;*/
}


#tmw-create-task {
    padding-top: 5px;
    padding-bottom: 5px;
}


.fc-toolbar {
    padding-left: 200px;
}

#tmw-btn-switch{
    z-index: 999;
    margin-right: 600px;
    margin-top: 2px;
}

#tmw-btn-calendar-view {
    padding-left: 5px;
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 3px;
}

#tmw-btn-table-view {
    padding-left: 16px;
    padding-top: 4px;
    padding-right: 17px;
    padding-bottom: 3px;
    margin-left: -2px;
}
