.tmw-main, .tmw-sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 10px;
    height: 100vh;
}

.tmw-sidebar {
    background: #fcfcfc;
}

.tmw-main-table, .tmw-treeview {
    flex-grow: 1;
    overflow-y: scroll;
}

.tmw-task-table tr {
    cursor: pointer;
}

ul.jstree-container-ul a.jstree-anchor {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#logout{
 display:none;
}

#main, #login, #registration{
display:none;
}
        .container{
        margin-top:200px;
        }
        #registrarion.input {
            border-radius: 10px;
        }

        #registrarion.legend {
            font-family: fantasy;
            font-size: 50px;
        }

       #registrarion.p,
        #registrarion.pre,
        #registrarion.label,
        #registrarion.legend {
            color: white
        }
        #register-box{
            margin-top: 50px;
        }


           #login.p,
            {
                font-family: fantasy;
                              font-size: 50px;
           }


