.tmw-main, .tmw-sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 10px;
    height: 100vh;
}

.tmw-sidebar {
    background: #fcfcfc;
}

.tmw-main-table, .tmw-treeview {
    flex-grow: 1;
    overflow-y: scroll;
}

.tmw-task-table tr {
    cursor: pointer;
}

ul.jstree-container-ul a.jstree-anchor {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
