.tmw-main, .tmw-sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 10px;
    height: 100vh;
}

.tmw-sidebar {
    background: #fcfcfc;
}

.tmw-main-table, .tmw-treeview {
    flex-grow: 1;
    overflow-y: scroll;
}

.tmw-task-table tr {
    cursor: pointer;
}

ul.jstree-container-ul a.jstree-anchor {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}


textarea {
    resize:vertical;
}

#logout{
 display:none;
}

#main, #login, #registration{
display:none;
}
        .container{
        margin-top:200px;
        }
        #registrarion.input {
            border-radius: 10px;
        }

        #registrarion.legend {
            font-family: fantasy;
            font-size: 50px;
        }

       #registrarion.p,
        #registrarion.pre,
        #registrarion.label,
        #registrarion.legend {
            color: white
        }
        #register-box{
            margin-top: 50px;
        }

        .error{
            color: #CC2222 ;
        }
#login.p
            {
                font-family: fantasy;
                              font-size: 50px;
           }

#leftPanel {
  overflow: scroll;
  overflow-x: hidden;
  height: 35%;
  max-height: 140px;
  width: 96.5%;
  position: relative;

}

#leftPanel > div {
  padding: 2px 0px;
}





html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tmw-main {
    margin: 0;
}

.tmw-main-header {
    padding-bottom: 15px;
}

.tmw-main-calendar {
    padding-bottom: 15px;
}

body > tr {
    border-collapse: collapse;
    background: white;
}
body > tr > td {
    padding: 8px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
