body {

}

header {
    background: #39a3ef;
    width: 1024px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display:flex;
}
#auth-container{
    margin-left:600px ;
}
#auth-container a{
    color: white;
}
#logo {
    margin-top: 10px;
    margin-left: 10px;
}

#header-logo-container {
    display: flex;
}

#header-logo-container p {
    margin-top: 22px;
    margin-left: 10px;
    font-style: italic;
    font-size: 20px;
    color: black;
}

.data-container {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
}

.main-container {
    max-width: 1024px;
    margin: auto;
    margin-top: 10px;
}

aside {
    display: flex;
    width: 100px;
}

article {
    width: 900px;
    height: 400px;
    margin-left: 10px;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content {
    margin-left: 10px;
    display: none;
}

#task-container {
    display: flex;
}

.task {
    margin-top: 10px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.task p{
    margin-top: 10px;
    text-align: center;
}

footer {
    height: 40px;
    margin-top: 10px;
    background: #39a3ef ;
    border-radius: 5px;
    border: 1px solid #ccc;
}
footer h3{
    margin-top: 5px; ;
    margin-left: 20px;
}