body {

}

header {
    background: #39a3ef;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
}

#logo {
    margin-top: 10px;
    margin-left: 10px;
}

#header-logo-container {
    display: flex;
    width: 60%;
}

#header-logo-container p {
    margin-top: 22px;
    margin-left: 10px;
    font-style: italic;
    font-size: 20px;
    color: black;
}

#search-container {
    margin-top: 20px;
    height: 30px;
    width: 30%;
    display: flex;
}

#search-container input {
    width: 70%;
}

search-container button {
    width: 20%;
}

#auth-container {
    float: left;
    margin-top: 15px;
    width: 10%;
}

#auth-container a {
    color: white;
}

.data-container {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
}

.main-container {
    max-width: 1024px;
    margin: auto;
    margin-top: 10px;
}

aside {
    display: flex;
    width: 20%;
}

article {
    width: 75%;
    min-height: 400px;
    height: 100%;
    margin-left: 10px;
    background: #ffffff;
    }

.content {
    margin-left: 10px;
    display: none;
}

.task {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    height: 130px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.task p {

    margin-top: 10px;
    text-align: center;
}

.task-nav {
    display: flex;
}

footer {
    height: 40px;
    margin-top: 10px;
    background: #39a3ef;
    border-radius: 5px;
    border: 1px solid #ccc;
}

footer h3 {
    margin-top: 5px;;
    margin-left: 20px;
}