#leftPanel {
    overflow:scroll;
    overflow-x:hidden;
    height: 34%;
    max-height:190px;
    width:100%;
    position:relative;

}

#leftPanel > div{
    padding:1px 1px;
}

#leftPanel > div #filterButton, #cleanButton{
    width:45%;
    padding:2px 2px;
}

#leftPanel > div > .easyui-linkbutton{
   font-size: 14px;
   letter-spacing:0.5px;
   text-indent:16px;
   position: relative;
    left: 5px;
}